/* tailwind */
/******************************************************************************/
@tailwind base;
@tailwind components;
@tailwind utilities;

/* global */
/* ****************************************************************************** */
body {
  /* @apply text-base font-normal; */
}
html,
body {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  body {
    /* @apply bg-black text-gray-200; */
  }
}

::-webkit-scrollbar {
  @apply !w-1.5 !bg-white;
}

::-webkit-scrollbar-thumb {
  @apply !bg-yellow bg-opacity-70;
}

*,
::before,
::after {
  background: none;
}

:focus {
  outline: 0 !important;
}

html {
  -webkit-tap-highlight-color: transparent;
}

label,
small,
input,
textarea,
select,
button {
  display: block;
  width: 100%;
  flex-basis: max-content;
}

select {
  /*-webkit-appearance: none;*/
  /*-moz-appearance: none;*/
}

button {
  text-align: left;
  text-decoration: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
}

button,
select {
  cursor: pointer;
}

th {
  font-weight: inherit;
  text-align: left;
}

:disabled {
  cursor: not-allowed;
}

/* INPUT TYPE NUMBER */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  appearance: textfield;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Remove spinner buttons for Safari */
input[type="number"]::-webkit-textfield-decoration-container {
  display: none;
}

/* scrollbar */
/******************************************************************************/
::-webkit-scrollbar {
  @apply w-4;
}

::-webkit-scrollbar-track {
  @apply bg-gray-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-700;
}

.diam-pretium-scroll::-webkit-scrollbar {
  @apply h-0;
}
